.safety-section {
  margin: 0px auto;
  padding: 60px 0px;
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  position: relative;
  flex-direction: column;
  gap: 40px;

  & .desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 700px;
    & h2 {
      font-size: 40px;
      color: var(--tg-theme-primary);
      font-weight: 800;
    }
    & p {
      font-size: 16px;
    }
  }
  & .items {
    display: flex;
    gap: 40px;
    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
    & .safety-box {
      border-radius: 15px;
      background-color: var(--tg-common-color-black-9);
      box-shadow: 0 0 4px 0 var(--tg-common-color-black-9);
      max-width: 400px;
      padding: 10px 40px;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: all 0.3s;
      &:hover {
        transform: translateY(-10px);
        box-shadow: 0 0 4px 0 var(--tg-theme-primary);
      }
      &__upper {
        &__vpn,
        &__protection,
        &__verified {
          position: absolute;
          top: -20px;
          left: -20px;
        }
        &__header {
          font-size: 22px;
        }
      }
      &__lower {
        & p {
          font-size: 14px;
        }
      }
    }
  }
}
