.wip {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 0;
  h2 {
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    @media (max-width: 767px) {
      font-size: 30px;
    }
  }
}
